<!DOCTYPE html>
<html lang="en">
<head>
    <base href="http://localhost:3000/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style-addPro.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    
    <div class="form-addpro">
        <strong>Add New Product</strong>

        <form action="../admin/category/edit" method="POST">
            <div style="text-align: center;" >
                <% if(errs1.length > 0){{%>
                    <div class="alert alert-success" >
                      <%= errs1 %>
                    </div>
                  <%  }} %>
            </div>
            <input style="margin-left: 78px;" type="hidden"  value="<%- Category._id %>" name="idCate"><br>
            <b>Produce Name:</b> <input style="margin-left: 78px;" type="text"  value="<%- Category.nameCategory %>" name="nameCate"><br>
            <input type="submit" value="Edit">
        </form>
    </div>
</body>
</html>