.bg-light{
    background-color: rgba(255, 255, 255, 0.973)!important;
}

body {
    background-color: rgb(255, 149, 237);
}

.btn-primary {
    color: #fff;
    background-color: black;
    border-color: black;
}

.card-text{
    color: red;
}
